@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");
/* font-family: "Strait", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
/* font-family: "Protest Revolution", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap");
/* font-family: "Cabin Condensed", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
/* font-family: 'Shadows Into Light', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Mohave&display=swap");
/* font-family: 'Mohave', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
/* font-family: 'Tilt Neon', sans-serif; */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: black;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
